@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial-Unicode, Arial, sans-serif;
}

#gamemodes {
  flex-direction: row;
}
