#tic-tac-toe table {
  border-spacing: 4px 2px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#tic-tac-toe td {
  height: 5em;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  background-color: #efefef;
  width: 5em;
}

#tic-tac-toe td:not(.x):not(.o):active,
#tic-tac-toe td:not(.x):not(.o):hover {
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#tic-tac-toe table:not(.game-over) td {
  cursor: pointer;
}

#tic-tac-toe td button {
  visibility: hidden;
}

#tic-tac-toe .o,
#tic-tac-toe .x {
  z-index: -1;
  position: relative;
}

#tic-tac-toe .o::after,
#tic-tac-toe .x::after {
  display: flex;
  justify-content: center;
  font-size: 5em;
  position: absolute;
  width: 100%;
}

#tic-tac-toe .o::after {
  color: green;
  content: "○";
  top: -0.2em;
}

#tic-tac-toe .x::after {
  color: red;
  content: "×";
  top: -0.125em;
}

#tic-tac-toe .x.highlighted::after {
  text-shadow:
    0 0 1px hsl(0, 100%, 75%),
    0 0 2px hsl(0, 100%, 75%),
    0 0 3px hsl(0, 100%, 75%),
    0 0 4px hsl(0, 100%, 75%),
    0 0 5px hsl(0, 100%, 75%),
    0 0 6px hsl(0, 100%, 75%),
    0 0 7px hsl(0, 100%, 75%);
}

#tic-tac-toe .o.highlighted::after {
  text-shadow:
    0 0 1px lightgreen,
    0 0 2px lightgreen,
    0 0 3px lightgreen,
    0 0 4px lightgreen,
    0 0 5px lightgreen,
    0 0 6px lightgreen,
    0 0 7px lightgreen;
}
